<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="com.mackentoch.beaconsandroid">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <service android:name="org.altbeacon.beacon.service.BeaconService" android:foregroundServiceType="location" tools:node="replace">
        <meta-data android:name="longScanForcingEnabled" android:value="true"/>
    </service>
</manifest>
